.DS_Store

# venv.md Quarto document
venv_files
venv.html
.venv/

# Code environnement
.vscode
.idea

# Python
**/__pycache__

# Jupyter Notebooks
.ipynb_checkpoints
**/*.ipynb

# Large files
*.png

# Data files
data
saved_models/
*.zip
# *.csv
*.parquet
yolov3*

# Documentation
build

